.tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background: white;
  border-top: 1px solid #e4e4e4;

  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

.tab-item {
  background: none;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #555;
  cursor: pointer;
}

.tab-item .material-icons {
  font-size: 26px;
}

.create-btn .material-icons {
  font-size: 40px;
  color: #000;
}

.create-btn {
  transform: translateY(-12px);
  background: none;
}

.tab-item:active {
  opacity: 0.6;
}
